<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Social Media App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block additional_css %}{% endblock additional_css %}
    </head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <img src="{% static 'img/logo/logo.png' %}" alt="Logo">
        </div>
        <div class="navbar_links">
            <a href="/" class="navbar_link">Home</a>
            <a href="{% url 'post_list' %}" class="navbar_link">Feed</a>
        </div>
        <div class="navbar_auth">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' user.username %}" class="navbar_link">Profile</a>
                <form method="POST" action="{% url 'logout' %}" class="navbar_logout-form">
                    {% csrf_token %}
                    <button class="navbar_logout-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'signup' %}" class="navbar_link">Signup</a>
                <a href="{% url 'login' %}" class="navbar_link">Login</a>
            {% endif %}
        </div>
    </nav>
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
