<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Social Media app
        {% endblock %} 
    </title>
</head>
<body>
    <nav>
      <a href="/">Home</a>  
      <a href="{% url "post_list" %}">Feed</a> 
      {% if user.is_authenticated %}
      <a href="{% url 'profile' user.username%}">Profile</a>
      <form method="POST" action="{% url "logout" %}">
        {% csrf_token %}
        <button>Logout</button>
      </form>   
      {% else %}
      <a href="{% url "signup" %}">Signup</a> 
      <a href="{% url "login" %}">Login</a>  
      {% endif %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>