{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock additional_css %}

{% block content %}
<section class="welcome-section">
    <h1>Welcome to Our Social Media App!</h1>
    <p>Experience a new way to connect and share with friends. Built with Django for a seamless experience.</p>
    {% if user.is_authenticated %}
    <a href="{% url 'post_list' %}" class="get-started-button">Get Started</a>
    {% else %}
    <a href="{% url 'login' %}" class="get-started-button">Get Started</a>
    {% endif %}
</section>
{% endblock %}
 