{% extends 'base.html' %}

{% block title %}
  All Posts
{% endblock %} 

{% block content %}
  <h2>All Posts</h2>
  <a href="{% url 'post_create' %}">Create New Post</a>
  <ul>
    {% for post in posts %}
        <li>
            <p>by {{ post.user.username }} on {{ post.created_at }}</p>
            <p>{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image">
            {% endif %}
            </li>
    {% endfor %}
  </ul>
{% endblock %}
