{% extends 'base.html' %}

{% block content %}
  <h2>All Posts</h2>
  <a href="{% url 'post_create' %}">Create New Post</a>
  <ul>
    {% for post in posts %}
        <li>
            <p>by {{ post.user.username }} on {{ post.created_at }}</p>
            <p>{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image">
            {% endif %}

            {% if post.user == request.user %}
            <a href="{% url 'post_edit' post.pk %}">Edit</a>
            <a href="{% url 'post_delete' post.pk %}">Delete</a>
            {% endif %}
            </li>
    {% endfor %}
  </ul>
{% endblock %}
