{% extends 'base.html' %}

{% block content %}
  <h2>My Posts</h2>
  <a href="{% url 'post_create' %}">Create New Post</a>
  <ul>
    {% for post in posts %}
        <li>
            <p>Created on {{ post.created_at }}</p>
            <p>{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image">
            {% endif %}
            <a href="{% url 'post_edit' post.pk %}">Edit</a>
            <a href="{% url 'post_delete' post.pk %}">Delete</a>
        </li>
    {% empty %}
        <p>You have not posted anything yet.</p>
    {% endfor %}
  </ul>
{% endblock %}
