/* Profile Section */
.profile-section {
    margin: 20px auto;
    max-width: 800px;
}

/* Profile Section */
.profile-header {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-header h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.profile-header p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.profile-header a {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.profile-header a:hover {
    background-color: var(--secondary-color);
}

/* User Posts */
.user-posts h3 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.post-list {
    list-style: none;
}

.create-post-link {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.create-post-link:hover {
    background-color: var(--secondary-color);
}

.post-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header .profile-picture {
    width: 40px; /* Standard size for post's profile picture */
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-user-info {
    display: flex;
    flex-direction: column;
}

.post-user-info .username {
    font-weight: bold;
    color: var(--primary-color);
}

.post-time {
    font-size: 0.9em;
    color: #888;
}

.post-content {
    margin-bottom: 10px;
    color: #333;
}

.post-image {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.post-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.post-actions button {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1em;
    transition: color 0.3s;
}

.post-actions button:hover {
    color: var(--secondary-color);
}
